.intro{
    position: relative;
}
.square{
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top:20%;
}
.square2{
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top:6.5%;
    
}

.square3 {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top: 9.5%;
}
.square4 {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top: 32.5%;
}

.square5 {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top: 10.5%;
}
.square6 {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top: 24.5%;
}
.square7 {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top: 20.5%;
}


.float-right{
    float: right;
}
.rtl-direction{
    direction: rtl;
}
.work_one{
    position: relative;
}
// .square_work{
//     height: 30px;
//     width: 30px;
//     background-color: lightsalmon;
//     top:19%;
//     left: -120px;
//     position: absolute;
// }
ul{
  list-style: circle;
}
a{
    text-decoration: none;
    color:rgb(49, 63, 63);
    font-weight: 500;
}
.grey_color{
    color:rgb(49, 63, 63);
    font-weight: 500;
}

@media (max-width: 854px) {

.square,
.square2,
.square3,
.square4, 
.square5,
.square6,
.square7{

    display:none;
}

}