.intro{
    position: relative;
}
.square{
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top:20%;
}
.square2{
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top:6.5%;
    
}


.float-right{
    float: right;
}
.rtl-direction{
    direction: rtl;
}
.work_one{
    position: relative;
}
// .square_work{
//     height: 30px;
//     width: 30px;
//     background-color: lightsalmon;
//     top:19%;
//     left: -120px;
//     position: absolute;
// }